*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(32, 36, 39, 1);
}

body {
  font-family: Inter, 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}
